In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('../data/raw/churn_data.csv')

In [3]:
df.head()

,churn,number_vmail_messages,total_day_calls,total_eve_minutes,total_eve_charge,total_intl_minutes,number_customer_service_calls
0,no,26,123,195.5,16.62,13.7,1
1,no,0,114,121.2,10.30,12.2,0
2,no,0,71,61.9,5.26,6.6,2
3,no,0,113,148.3,12.61,10.1,3
4,no,24,88,348.5,29.62,7.5,3

In [4]:
df.columns

Index(['churn', 'number_vmail_messages', 'total_day_calls',
       'total_eve_minutes', 'total_eve_charge', 'total_intl_minutes',
       'number_customer_service_calls'],
      dtype='object')

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
number_vmail_messages,4250.0,7.631765,13.439882,0.0,0.0000,0.00,16.0000,52.00
total_day_calls,4250.0,99.907294,19.850817,0.0,87.0000,100.00,113.0000,165.00
total_eve_minutes,4250.0,200.173906,50.249518,0.0,165.9250,200.70,233.7750,359.30
total_eve_charge,4250.0,17.015012,4.271212,0.0,14.1025,17.06,19.8675,30.54
total_intl_minutes,4250.0,10.256071,2.760102,0.0,8.5000,10.30,12.0000,20.00
number_customer_service_calls,4250.0,1.559059,1.311434,0.0,1.0000,1.00,2.0000,9.00

In [6]:
overview = df.describe()

In [10]:
overview.loc[["min", "max"]].to_json("schema_in.json")

In [7]:
import json

In [8]:
def get_schema(schema_path="schema_in.json"):
    with open(schema_path) as json_file:
        schema = json.load(json_file)
    return schema
schema=get_schema()
display(schema)

{'number_vmail_messages': {'min': 0.0, 'max': 52.0},
 'total_day_calls': {'min': 0.0, 'max': 165.0},
 'total_eve_minutes': {'min': 0.0, 'max': 359.3},
 'total_eve_charge': {'min': 0.0, 'max': 30.54},
 'total_intl_minutes': {'min': 0.0, 'max': 20.0},
 'number_customer_service_calls': {'min': 0.0, 'max': 9.0}}

# Create validator class using the above min and max range

In [30]:
from pydantic import BaseModel,Field

In [32]:
class churnModelFeilds(BaseModel):
    number_vmail_messages:float = Field(..., ge=0.0, le=52.0)
    total_day_calls:float= Field(...,ge= 0.0, le= 165.0)
    total_eve_minutes:float= Field(...,ge = 0.0, le= 359.3)
    total_eve_charge:float= Field(...,ge = 0.0, le= 30.54)
    total_intl_minutes:float= Field(...,ge = 0.0, le= 20.0)
    number_customer_service_calls:float= Field(...,ge= 0.0, le= 9.0)
    
    class Config:
        validate_assignment = True

In [33]:
x=churnModelFeilds(number_vmail_messages=52,total_day_calls=162,total_eve_minutes=356,total_eve_charge=19,total_intl_minutes=15,number_customer_service_calls=5)

In [34]:
x.dict()

{'number_vmail_messages': 52.0,
 'total_day_calls': 162.0,
 'total_eve_minutes': 356.0,
 'total_eve_charge': 19.0,
 'total_intl_minutes': 15.0,
 'number_customer_service_calls': 5.0}